body {
    background: url('bg.png');
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.block {
    background: #fff;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4), 0 4px 20px rgba(0, 0, 0, 0.33);
    display: table;
    margin: 15px 0 25px;
    padding: 10px 15px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.title {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.connection_name, .connection_error {
    left: 10px;
    position: fixed;
    top: 15px;
}

.connection_error {
    top: 70px;
    width: 500px;
}

input, button {
    margin: 5px 0;
}

label {
    margin-right: 15px;
}

/**********************************************************************************************************************/
.notify {
    background-color: #e3f7fc;
    color: #555;
    border: .1em solid #8ed9f6;
    border-radius: 10px;
    font-family: Tahoma, Geneva, Arial, sans-serif;
    font-size: 1.1em;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    cursor: default;
}

.notify-red {
    background: #ffecec;
    border-color: #fad9d7;
}

/**********************************************************************************************************************/
